%div

%div{id: "items", class: "transitions-enabled"}
  - @items.each do |item| 
    = render partial: 'item', locals: { item: item }

%div{class: "center"}
  = will_paginate @items, renderer: BootstrapPagination::Rails
