*, *:before, *:after
  box-sizing: border-box

html
  overflow-x: hidden

html, body, fieldset, ol, ul
  padding: 0
  margin: 0

body
  line-height: 1.1
  -webkit-font-smoothing: antialiased

a
  img
    border: none

li
  list-style-type: none

fieldset
  border: 0

h1, h2, h3, h4
  padding: 0
  margin: 0
  font-family: 'grad', serif
  font-weight: 400

p
  line-height: 1.5em

h2
  font-size: 3em

#bs-example-navbar-collapse-1
  background-color: #ff6955
  border: #ff6955
  color: #e5de9a

.panel-default > .panel-heading
  color: #0b5791
  background-color: #0a74bd