%nav{class: "admin navbar navbar-inverse navbar-default"}
  = link_to "Home", root_url, class: "navbar-brand", role: "navigation"

  %ul{class: "nav navbar-nav navbar-right"}

    %li 
      = link_to "Categories", admin_categories_url

    %li 
      = link_to "Tags", admin_tags_url
      
